<ul class="nav justify-content-end">
  <li class="nav-item" *hasRole="'ADMIN'">
    <a class="nav-link text-secondary" href="#" routerLink="/admin">Admin</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-secondary" href="#" routerLink="/about">About</a>
  </li>
  <li class="nav-item" *isLoggedIn="false">
    <a class="nav-link text-secondary" routerLink="/login">Login</a>
  </li>
  <li class="nav-item" *isLoggedIn="true">
    <a class="nav-link text-secondary" href="#" (click)="logout()">Logout ({{user.email | lowercase}})</a>
  </li>
</ul>