<div class="row justify-content-center">
  <div class="col-4">
    <form [formGroup]="loginForm" (submit)="submit()" class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal">Login</h1>
      <div class="form-group">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input formControlName="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <div *ngIf="submitted == false && f.email.dirty && f.email.errors" class="mt-3 alert alert-warning" role="alert">
          <!--           <div>{{ f.email.errors | json }}</div> 
 -->
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.email">Invalid Email</div>
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword" class="sr-only">Password</label>
        <input formControlName="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div *ngIf="!submitted && f.password.dirty && f.password.errors" class="mt-3 alert alert-warning" role="alert">
          <!-- <div>{{ f.email.errors | json }}</div> -->
          <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
      </div>
      <button class="btn btn-lg btn-primary btn-block" [disabled]="submitted || !loginForm.valid" type="submit">Sign in</button>
      <button class="btn btn-lg btn-warning btn-block" (click)="reset($event)">Reset</button>
    </form>
  </div>
</div>